services:
  lexi-geek-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lexi-geek-frontend
    ports:
      - "80:80"
    networks:
      - shared-network

networks:
  shared-network:
    external: true
    name: shared-network